html
	head
		title= title
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
	body
		.container
			br
			.row
				.col-4
					.row
						h1= title
				.col-4
					.row
						h5 Process started 
							time.timeago(datetime=started.toISOString())= started
				.col-4
					each task in tasks
						.row
							.col-6
								button.btn.btn-primary(type="button", onclick="fetch('/task?task=" + task.id + "')")= task.name
							if task.schedule
								.col-6
									p(style="height: 38px; line-height: 38px; vertical-align: middle;") Next run 
										time.timeago(datetime=task.schedule.nextInvocation().toISOString())= task.schedule.nextInvocation()
			hr
			.row
				.col-12
					.progress(style="height: 30px; font-size: 17px;")
						each progress, index in status.progress
							div(class="progress-bar " + status.classes[index] role="progressbar", style=`width: ${progress * 100}%`)= status.message
			.row
				.col
					table.table.table-sm
						thead
							tr
								th Time
								th Message
						tbody(id="logbody")
							each message in log
								tr
									td
										time.timeago(datetime=message.time.toISOString())= message.time
									td= message.message
		script(src="/js/jquery.min.js")
		script(src="/js/timeago.js")
		script(src="/socket.io/socket.io.js")
		script.
			var socket = io()
			var timeagoInstance = timeago()
			var currentClasses = {}
			socket.on('log', function(msg) {
				var newRow = $(document.createElement('tr'))
				var timeColumn = $(document.createElement('td'))
				var timeElement = $(document.createElement('time'))
				timeElement.attr('datetime', new Date(msg.time).toISOString())
				timeElement.text(msg.time)
				timeColumn.append(timeElement)
				var messageColumn = $(document.createElement('td'))
				messageColumn.text(msg.message)
				newRow.append(timeColumn)
				newRow.append(messageColumn)
				//document.getElementById('logbody').innerHTML = `<tr><td>${msg.time}</td><td>${msg.message}</td></tr>` + document.getElementById('logbody').innerHTML
				$('#logbody').prepend(newRow)
				timeagoInstance.render(timeElement)
				$('#logbody').children().slice(300).remove()
			})
			socket.on('status', function(status) {
				console.log(status)
				status.progress.forEach(function (progress, index) {
					var bar = $(".progress-bar").eq(index)
					bar.css('width', (progress * 100) + '%')
					bar.text(status.messages[index])
					if (currentClasses[index] !== status.classes[index]) {
						bar.attr('class', 'progress-bar')
						bar.addClass(status.classes[index])
						currentClasses[index] = status.classes[index]
					}
				})
			})
			$(document).ready(function() {
				timeagoInstance.render($('time.timeago'))
			})